<div class="mt-4">
    <h3>DANG KHOA HOC</h3>

    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Ten khoa hoc</label>
            <input type="text" class="form-control" id="name" name="name">  
        </div>

        <div class="form-group">
            <label for="description">Mo ta khoa hoc</label>
            <input type="text" class="form-control" id="description" name="description">  
        </div>

        <div class="form-group">
            <label for="videoId">videoId</label>
            <input type="text" class="form-control" id="videoId" name="videoId">  
        </div>

        <div class="form-group">
            <label for="level">Cap do</label>
            <input type="text" class="form-control" id="level" name="level">  
        </div>
       
        <button type="submit" class="btn btn-primary">Them mot khoa hoc moi</button>
    </form>
</div>